body{
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#question-container{
    display: flex;
    text-align: center;
    margin: 30px;
    padding:20px;
    background-color: black;
    color: aliceblue;
    border:2px;
    width:auto;
}

#answers{
    display: flex;
    width: 90%;
    margin: 30px;
    padding:20px 20px;
    background-color: black;
    color: aliceblue;
    justify-content: center;
    width:auto;
}

#answers button {
    margin: 0 30px;
    cursor: pointer;
    background-color:darkred
    
}



#Uldua-creature{
    display:none;
    cursor: pointer;
}


    
